body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FBFBFF;
    font-family: "Monaco", Courier, monospace;
    margin: 0;
}

#body {
    background-color: #355070;
    width: 78vw;
    height: 70vh;
    border-radius: 20px;
}

#title {
    background-color: #355070;
    padding: 12px;
    border-radius: 20px;
}

#footer {
    background-color: #f3f3f3;
    color: #545974;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding: 4px;
    text-align: center;
}