body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FBFBFF;
    font-family: "Monaco", Courier, monospace;
    margin: 0;
}

#body {
    background-color: #355070;
    width: 78vw;
    height: 70vh;
    border-radius: 20px;
}

.options {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 30px;
}

.choice {
    background-color: #a5b5c7;
    border-radius: 10px;
    width: 175px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 110px;
    height: 110px;
}

.rock img {
    width: 130px;
}

#title {
    background-color: #355070;
    padding: 12px;
    border-radius: 20px;
}

#footer {
    background-color: #e1eaf0;
    color: #545974;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding: 4px;
    text-align: center;
}